<header>
    <div style="background-color: rgb(121, 172, 255);" class="headerwrapper">
        <!-- <div class="header-left">
            <img src="/assets/images/LOGO3.png" width="90px" class="logo" />
        </div> -->
        
        
        <div class="header-right">
            <a class="btn btn-social-icon btn-github hidden-sm-down" href="https://google.com.br" target="_blank"><i class=""></i> Acessar Mi ICE</a>
        </div><!-- header-right -->
    </div><!-- headerwrapper -->
</header>
