<div style="margin-left: 50px;" class="" id="">
  <div style="margin-left: 50px;" class="container-fluid">
    <div style="margin-left: 50px;" class="row row-stat">
      <div style="margin-left: 50px;" class="col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default panel-table">
              <div class="panel-heading panel-heading-no-divider">
                <p style="font-size: 25px;">Tabela Pedidos</p>
                <h5 class="panel-subtitle">Caso conste alguma inconsistência que <br>
                  não seja possível alterar, entre em contato com o suporte.</h5>
              </div>


              <div>

                <div class="sidebar-search hidden-sm hidden-md hidden-lg" style="width: 500px;">
                  <!-- input-group -->
                  <!-- <h5 style="margin-bottom: -20px;" class="p-2">Pesquisar Cliente:</h5> -->
                  <small class="text-muted p-3">Pesquise ultilizando ID_Cliente, ID_Pedido ou DT_Pedido</small>
                  <div style="margin-top: 10px;" class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Pesquisar cliente...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                    </span>
                  </div>
                  <!-- /input-group -->
                </div>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 32px"></th>
                      <!-- ID_PEDIDO  	ID_CLIENTE  	DT_PEDIDO  	ID_ENDERECO  	DS_FORMAPGTO  	VL_FRETE  	VL_TOTAL   -->

                      <th>ID_PEDIDO</th>
                      <th>ID_CLIENTE</th>
                      <th>DT_PEDIDO</th>
                      <th>ID_ENDERECO</th>
                      <th>DS_FORMAPGTO</th>
                      <th>VL_FRETE</th>
                      <th>VL_TOTAL</th>
                      <th>STATUS</th>
                      <th style="width: 5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pedido of pedidos | filter:filter; let i = index">
                      <td>
                        <img class="non-responsive img-circle" src="/assets/images/caixa--png.png" alt="" width="52">
                      </td>
                      <td>{{pedido.idPedido}}</td>
                      <td> {{pedido.cliente}}
                        <br>
                        <small class="text-muted">Arthur Ferreira Souza</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-us">{{pedido.dtPedido | date:"dd/MM/yyyy"}}</span>
                      </td>
                      <td>{{pedido.endereco}}</td>

                      <td>{{pedido.formapgto}}</td>
                      <td>{{pedido.vlFrete | currency:"BRL"}}</td>
                      <td>{{pedido.vlTotal | currency:"BRL"}}</td>
                      <td>
                        <div class="form-group">
                          <div class="row">

                            <div class="col-sm-9">
                              <ng-template [ngIf]="pedido.status == null">
                                <select id="status" class="form-control" (input)="this.status = $event.target.value" (change)="statusPedido(pedido)">
                                  <option value="null" selected>Status do pedido</option>
                                  <option value="AGUARDANDOPAGAMENTO">Aguardando Pagamento
                                  </option>
                                  <option value="EMSEPARACAO">Em Separação</option>
                                  <option value="ENVIADO">Enviado</option>
                                  <option value="ENTREGUE">Entregue</option>
                                  <option value="CANCELADO">Cancelado</option>
                                </select>
                              </ng-template>
                              <ng-template [ngIf]="pedido.status == 'AGUARDANDOPAGAMENTO'">
                              <select id="form-control-9" class="form-control" (change)="statusPedido(pedido)">
                                <option value="AGUARDANDOPAGAMENTO" selected>Aguardando Pagamento
                                </option>
                                <option value="EMSEPARACAO">Em Separação</option>
                                <option value="ENVIADO">Enviado</option>
                                <option value="ENTREGUE">Entregue</option>
                                <option value="CANCELADO">Cancelado</option>
                              </select>
                            </ng-template>
                              <ng-template [ngIf]="pedido.status == 'EMSEPARACAO'">
                              <select id="form-control-9" class="form-control" (change)="statusPedido(pedido)">
                                <option value="AGUARDANDOPAGAMENTO">Aguardando Pagamento
                                </option>
                                <option value="EMSEPARACAO" selected>Em Separação</option>
                                <option value="ENVIADO">Enviado</option>
                                <option value="ENTREGUE">Entregue</option>
                                <option value="CANCELADO">Cancelado</option>
                              </select>
                            </ng-template>
                              <ng-template [ngIf]="pedido.status == 'ENVIADO'">
                              <select id="form-control-9" class="form-control" (change)="statusPedido(pedido)">
                                <option value="AGUARDANDOPAGAMENTO">Aguardando Pagamento
                                </option>
                                <option value="EMSEPARACAO">Em Separação</option>
                                <option value="ENVIADO" selected>Enviado</option>
                                <option value="ENTREGUE">Entregue</option>
                                <option value="CANCELADO">Cancelado</option>
                              </select>
                            </ng-template>
                              <ng-template [ngIf]="pedido.status == 'ENTREGUE'">
                              <select id="form-control-9" class="form-control" (change)="statusPedido(pedido)">
                                <option value="AGUARDANDOPAGAMENTO">Aguardando Pagamento
                                </option>
                                <option value="EMSEPARACAO">Em Separação</option>
                                <option value="ENVIADO">Enviado</option>
                                <option value="ENTREGUE" selected>Entregue</option>
                                <option value="CANCELADO">Cancelado</option>
                              </select>
                            </ng-template>
                              <ng-template [ngIf]="pedido.status == 'CANCELADO'">
                              <select id="form-control-9" class="form-control" (change)="statusPedido(pedido)">
                                <option value="AGUARDANDOPAGAMENTO">Aguardando Pagamento
                                </option>
                                <option value="EMSEPARACAO">Em Separação</option>
                                <option value="ENVIADO">Enviado</option>
                                <option value="ENTREGUE">Entregue</option>
                                <option value="CANCELADO" selected>Cancelado</option>
                              </select>
                            </ng-template>
                            </div>
                          </div>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>