


        
                  
                    





<div style="margin-left: 50px;" class="" id="">
  <div style="margin-left: 50px;" class="container-fluid">
    <div style="margin-left: 50px;" class="row row-stat">
      <div style="margin-left: 50px;" class="col-sm-10">
        <div class="row">
          <div class="col-md-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading panel-heading-no-divider">Tabela Produtos <h6   class="panel-subtitle">Caso conste alguma inconsistência que <br>
            não seja possível aleterar, entre em contato com o suporte.</h6  ></div>
          
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 32px"></th>
                      <th>Name</th>
                      <th>Descrição</th>
                      <th>Vl_Produto</th>
                      <th>VL_c/_desconto</th>
                      <th style="width: 5%"></th>
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Item 1 lista Produtos -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Saco Gelo 5KG</td>
                      <td>
                        Saco de gelo 5kg,Saco de gelo 5kg,Saco de gelo 5kg,
                        <br>
                        <small class="text-muted">15,00</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-us">15,00</span>
                      </td>
                      <td>10,00</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type="" value="Apagar Campos">EXCLUIR</button></i>
                        </a>
                      </td>
                    </tr>

                    <!-- Item 2 lista Produtos -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Saco Gelo 5KG</td>
                      <td>
                        Saco de gelo 5kg,Saco de gelo 5kg,
                        <br>
                        <small class="text-muted">15,00</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-us">15,00</span>
                      </td>
                      <td>10,00</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type="" value="Apagar Campos">EXCLUIR</button></i>
                        </a>
                      </td>
                    </tr>


                    <!-- Item 3 lista Produtos -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Saco Gelo 5KG</td>
                      <td>
                        Saco de gelo 5kg,Saco de gelo 5kg,
                        <br>
                        <small class="text-muted">15,00</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-us">15,00</span>
                      </td>
                      <td>10,00</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type="" value="Apagar Campos">EXCLUIR</button></i>
                        </a>
                      </td>
                    </tr>

                    <!-- Item 4 lista Produtos -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="http://via.placeholder.com/150x150" alt="" width="32" height="32">
                      </td>
                      <td>Saco Gelo 5KG</td>
                      <td>
                        Saco de gelo 5kg,Saco de gelo 5kg,
                        <br>
                        <small class="text-muted">15,00</small>
                      </td>
                      <td>
                        <span class="flag-icon flag-icon-us">15,00</span>
                      </td>
                      <td>10,00</td>
                      <td class="actions">
                        <a href="#">
                          <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type="" value="Apagar Campos">EXCLUIR</button></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>



          
        </div>
      </div>
    </div>
  </div>
</div>