<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Alterar descrição da categoria<h5>Preencha o campo abaixo</h5>
          </div>
          <div class="panel-body">
            <div class="xs-mt-10 xs-mb-10  ">
              <div class="row">
                <div class="col-md-8">
                        <h4>Alterar a Categoria - Id: {{id}}</h4>

                        <label class="col-sm-7 control-label" for="form-control-5">Nome da Categoria</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Descrição"
                          (input)="this.descricao = $event.target.value">
                      </div>
                      </div>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Salvar" (click)="mudar()">
