<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-dollar"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Total vendas:</h5>
                            <h3 class="mt5">{{totalVendas | currency:"BRL"}}</h3>
                        </div><!-- media-body -->
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-users"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Numero de clientes:</h5>
                            <h3 class="mt5">{{totalClientes}}</h3>
                        </div><!-- media-body -->
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-pencil"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Numero de pedidos:</h5>
                            <h3 class="mt5">{{totalPedidos}}</h3>
                        </div><!-- media-body -->
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>
    </div>