<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <!-- input-group -->
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
            <!-- /input-group -->
        </li>
        
        <li class="user-pro">
            <a href="#" class="text-center">
                <div  class="profile-img">
                    <div class="miice">
                    <img src="/assets/images/LOGO3.png"/>
                    </div>
                </div>
                <span>Painel ADM</span>
                <small class="text-center">________________</small>
            </a>
        </li>


        <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="waves-effect"><i class="fa fa-home"></i>
                <span class="hide-menu">Dashboard</span></a>
        
        </li>

    
        <li>
            <a  [routerLink]="['/clientes']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Clientes</span>
            </a>
        </li>

        <li>
            <a  [routerLink]="['/produtos']" [routerLinkActive]="['active']">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">Produtos</span>
            </a>
        </li>

        <li>
            <a  [routerLink]="['/pedidos']" [routerLinkActive]="['active']">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">Pedidos</span>
            </a>
        </li>

    </ul>

</div>