


        
                  
                    





<div style="margin-left: 50px;" class="" id="">
  <div style="margin-left: 50px;" class="container-fluid">
    <div style="margin-left: 50px;" class="row row-stat">
      <div style="margin-left: 40px;" class="col-sm-11">
        <div class="row">
          <div class="col-md-12">
        <div class="panel panel-default panel-table">
          <div  class="panel-heading panel-heading-no-divider"><p style="font-size: 25px;" >Tabela Cliente</p> <h5   class="panel-subtitle">Caso conste alguma inconsistência que <br>
            não seja possível alterar, entre em contato com o suporte.</h5></div>
          

            <div>
            
              <div class="sidebar-search hidden-sm hidden-md hidden-lg" style="width: 500px;">
                <!-- input-group -->
                <!-- <h5 style="margin-bottom: -20px;" class="p-2">Pesquisar Cliente:</h5> -->
                <small  class="text-muted p-3">Pesquise ultilizando ID_Cliente, Endereço ou e-mail</small>
                <div style="margin-top: 10px;" class="input-group custom-search-form">
                  <input type="text" class="form-control" value="Pesquisar cliente...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                  </span>
                </div>
                <!-- /input-group -->
              </div>
            </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 32px"></th>
                      <th>Name</th>
                      <th style="width: 232px">Endereço</th>
                      <th style="width: 142px">CPF</th>
                      <th style="width: 132px">Data Nascimento</th>
                      <th>E-mail</th>
                      <th style="width: 140px">Telefone</th>
                      <th style="width: 5%"></th>
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Item 1 lista Cliente -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="./assets/images/perfil-icon.png" alt="perfil icone" width="32">
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Arthur Oliveira Shutz" readonly="readonly">
                    
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Rua Brasil 1545, Centro - CEP aqui" readonly="readonly">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="154125487-95" disabled="disabled">
                      </td>
                      <td>
                        <div class="form-group">
                          <div class="row">
                            <div class="col">
                              <input id="form-control-6" class="form-control" type="text" value=" 01-02-2000" disabled="disabled">
                            </div>
                          </div>
                        </div>
                      </td>
                    
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="email@email.com" disabled="disabled">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="11-4522-5555" disabled="disabled">
                      </td>
                      <td class="actions">
                        <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type=""
                            value="">Alterar</button></i>
                      </td>
                    
                    </tr>

                    <!-- Item 2 lista Cliente -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="./assets/images/perfil-icon.png" alt="perfil icone" width="32">
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Arthur Oliveira Shutz" readonly="readonly">
                    
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Rua Brasil 1545, Centro - CEP aqui" readonly="readonly">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="154125487-95" disabled="disabled">
                      </td>
                      <td>
                        <div class="form-group">
                          <div class="row">
                            <div class="col">
                              <input id="form-control-6" class="form-control" type="text" value=" 01-02-2000" disabled="disabled">
                            </div>
                          </div>
                        </div>
                      </td>
                    
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="email@email.com" disabled="disabled">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="11-4522-5555" disabled="disabled">
                      </td>
                      <td class="actions">
                        <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type=""
                            value="">Alterar</button></i>
                      </td>
                    
                    </tr>

                    <!-- Item 3 lista Cliente -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="./assets/images/perfil-icon.png" alt="perfil icone" width="32">
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Arthur Oliveira Shutz" readonly="readonly">
                    
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Rua Brasil 1545, Centro - CEP aqui" readonly="readonly">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="154125487-95" disabled="disabled">
                      </td>
                      <td>
                        <div class="form-group">
                          <div class="row">
                            <div class="col">
                              <input id="form-control-6" class="form-control" type="text" value=" 01-02-2000" disabled="disabled">
                            </div>
                          </div>
                        </div>
                      </td>
                    
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="email@email.com" disabled="disabled">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="11-4522-5555" disabled="disabled">
                      </td>
                      <td class="actions">
                        <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type=""
                            value="">Alterar</button></i>
                      </td>
                    
                    </tr>

                    <!-- Item 4 lista Cliente -->
                    <tr>
                      <td>
                        <img class="non-responsive img-circle" src="./assets/images/perfil-icon.png" alt="perfil icone" width="32">
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Arthur Oliveira Shutz" readonly="readonly">
                    
                      </td>
                      <td>
                    
                        <input id="form-control-7" class="form-control" type="text" value="Rua Brasil 1545, Centro - CEP aqui" readonly="readonly">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="154125487-95" disabled="disabled">
                      </td>
                      <td>
                        <div class="form-group">
                          <div class="row">
                            <div class="col">
                              <input id="form-control-6" class="form-control" type="text" value=" 01-02-2000" disabled="disabled">
                            </div>
                          </div>
                        </div>
                      </td>
                    
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="email@email.com" disabled="disabled">
                      </td>
                      <td>
                        <input id="form-control-6" class="form-control" type="text" value="11-4522-5555" disabled="disabled">
                      </td>
                      <td class="actions">
                        <i class="zmdi zmdi-delete"><button style="margin-right: 10px;" class="btn btn-space btn-danger " type=""
                            value="">Alterar</button></i>
                      </td>
                      
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>



          
        </div>
      </div>
    </div>
  </div>
</div>